body{
  background-color: gray;

}
div{
  border-radius: 20px;
  margin:20px;
  display: inline-block;
  width:400px;
  background-color: snow;
}
#gen{
  background-color: #00ff00;
  font-size: 20px;
  width:110px;
  font-family: sans-serif;
  padding: 10px;
  user-select: none;
  font-weight: 100;
  text-shadow: 2px 2px 2px black;
  transition: all 0.1s ease;
}
#gen:active{
  color:blue;
  text-shadow: 1px 1px 1px black;

}
#outcome{
  padding:20px;
}
h1{
  font-weight: 100;
  font-family: sans-serif;
}
